<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<li>
                    <span>图片简介</span>
                    <button>选择图片</button>
                </li>
                <li>
                    <span>服务名称</span>
                    <input type="text" name="id" placeholder="请输入要修改的服务名称" />
                </li>
                <li>
                    <span class="ver-top">服务说明</span>
                    <textarea name="username" cols="45" rows="7"></textarea>
                </li>
                <li>
                    <span>服务价格</span> 
                    <input type="number"name="password" placeholder="请输入服务价格">
                </li>
</body>
</html>