<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/service_product.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/element-ui_2.12.0.css">

    <script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>
    
</head>

<body>
<input type="hidden" th:value="${count}" id="count" />
	<input type="hidden" th:value="${pageSize}" id="pageSize" />
	<input type="hidden" th:value="${pageStart}" id="pageStart" />

    <div class="header">
        <div class="logo_info">
            <img src="./images/logo.png" alt="logo">
            <span class="platform_name">信达</span>
        </div>
        <ul class="user_info">
            <li><a href="service_product.html"><i class="fa fa-cog fa-fw"></i>服务管理</a></li>
            <li><i class="fa fa-shopping-cart fa-fw"></i>新订单(0)</li>
            <li><i class="fa fa-bell-o fa-fw"></i>通知(0)</li>
            <li>
                <img src="./images/default_user.png">
                <span>用户名字</span>
                <i class="fa fa-chevron-down fa-fw user-arrow-down"></i>
                <ul class="dropdown">
                    <li>更改信息</li>
                    <li>退出登录</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main">
        <ul class="main-nav">
            <li>
                <a href="fenyelike">
                    <i class="fa fa-home fa-fw"></i>
                    <p>主页</p>
                </a>
            </li>
            <li>
                <a href="fenyelikeS">
                    <i class="fa fa-shopping-cart fa-fw"></i>
                    <p>订单</p>
                </a>
            </li>
            <li>
                <a href="expense">
                    <i class="fa fa-cny fa-fw"></i>
                    <p>费用</p>
                </a>
            </li>
            <li>
                <a href="/store">
                    <i class="fa fa-institution fa-fw"></i>
                    <p>店铺</p>
                </a>
            </li>
            <li>
                <a href="/setting">
                    <i class="fa fa-cog fa-fw"></i>
                    <p>设置</p>
                </a>
            </li>
        </ul>
        <div class="main-details">
            <div class="main-top">
                <ul>
                    <li>
                        <i class="fa fa-home fa-fw"></i>
                    </li>
                    <li>服务管理</li>
                </ul>
            </div>
            <ul class="main-tab">
                <li class="border-red business-order">产品列表</li>
            </ul>
            <div class="main-content">
                <div class="search">
                <form action="fenyelike">
                  <input placeholder="按服务名称查询" name="username" th:value="${username}" id="username"/><button><i class="fa fa-search fa-fw"></i></button>
                </form>
                </div>
                <div class="product-action">
                    <span class="add-product-action"><i class="fa fa-plus fa-fw"></i>添加服务产品</span>
                </div>
            </div>
            <table border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>服务名称</th>
                        <th>ID</th>
                        <th>价格</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                   <tr th:each="user:${xdProductList}">
                        <td th:text="${user.serviceName}"></td>
                         <td th:text="${user.productInstruction}"></td>
                        <td th:text="${user.productPrice}"></td>
                        <td><span class="down-line-mark down-line-mark-orange">下线</span></td>
                        <td>
                            <span class="handle-btn"><i class="fa fa-edit fa-fw"></i><a th:href="@{'/select?id='+${user.id}}">编辑</a></span>
                           
                              <span class="handle-btn"><i class="fa fa-close fa-fw"></i><a th:href="@{'/delete?id='+${user.id}}">删除</a></span>
                            <span class="handle-btn"><i class="fa fa-arrow-up fa-fw"></i>上线</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table  th:if="${count} gt '0'"
		th:with="pageNext=${pageStart}+${pageSize},
		pagePre=${pageStart}-${pageSize},
		modPage=${count}%${pageSize},
		pageLast=${count}-${modPage},
		lastPage=${count}-${pageSize}">
	
		<tr class="pagination">
		
			<td><a th:href="@{'/fenyelike?pageStart=' + 0+'&username='+${username}}">首页</a></td>
			<td><span th:if="${pagePre} ge '0'" class="main-pagination-page"><a
					th:href="@{'/fenyelike?pageStart=' + ${pagePre}+'&username='+${username}}">上一页</a></span></td>
			<td><div id="mydiv"></div></td>
			<td><span th:if="${pageNext} lt ${count}" ><a
					th:href="@{'/fenyelike?pageStart=' + ${pageNext}+'&username='+${username}}"  >下一页</a></span></td>
			<td><span th:if="${modPage} eq  '0'"  ><a
					th:href="@{'/fenyelike?pageStart=' + ${lastPage}+'&username='+${username}}">末页</a></span></td>
			<td>
			<td><span th:unless="${modPage} eq  '0'"  ><a
					th:href="@{'/fenyelikeS?pageStart=' + ${pageLast}+'&username='+${username}}">末页</a></span>
			</td>
			</tr></table>
        </div>
    </div>
    <div class="masking">
        <div class="scroller">
        <form action="/insert">
            <h3>添加服务产品</h3>
            <ul>
                <li>
                    <span>图片简介</span>
                    <button>选择图片</button>
                </li>
                <li>
                <span>服务id</span>
                 <input placeholder="请输入服务id" name="id" th:text="${id}"  id="id">
                </li>
                <li>
                    <span>服务名称</span>
                    <input placeholder="请输入服务名称" name="username" th:text="${username}"  id="id">
                </li>
                <li>
                    <span class="ver-top">服务说明</span>
                    <textarea name="productInstruction" th:text="${productInstruction}"  id="id" cols="45" rows="7"></textarea>
                </li>
                <li>
                    <span>服务价格</span>
                    <input type="number" placeholder="请输入服务价格" name="productPrice" th:text="${productPice}"  id="id">
                </li>
                <li>
            </ul>
            <button class="submit">提交</button>
            <button class="cancel">取消</button>
            </form>
        </div>
    </div>
    
    <script src="./js/service_product.js"></script>
</body>
</html>